<% provide(:title, 'Edit user') %>
<% provide(:button, "Save changes") %>
<h1>Update your profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= render 'users/form' %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
